* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;
    font-family: "Tangerine";
}

#photo {

    /* Ancho del elemento */
    width: 8vw;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(151 156 165 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

footer p {

    /* Alineación del texto a la derecha */
    text-align: right;

    /* Estilo de fuente itálica */
    font-style: italic;

}

nav > ul {

    /* Eliminar los estilos de lista predeterminados */
    list-style: none;

}
section {
    border: 0.2pt solid #cedddd;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    margin-bottom: 1.2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);